.deroulement {
  width: 100%;
  height: auto;
  background-color: #e6c5e6;
  display: flex; /* Ajoutez cette ligne pour activer le conteneur flex */
  flex-direction: column; /* Les éléments sont disposés verticalement */
  align-items: center; /* Alignez les éléments horizontalement au centre */
  justify-content: center; /* Alignez les éléments verticalement au centre */
  text-align: center;
}

.box_deroulement {
  width: 80%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #ffe8ff;
  display: flex; /* Ajoutez cette ligne pour activer le conteneur flex */
  flex-direction: column; /* Les éléments sont disposés verticalement */
  align-items: center; /* Alignez les éléments horizontalement au centre */
  justify-content: center; /* Alignez les éléments verticalement au centre */
  text-align: center;
}

.text_header_deroulement {
  color: grey;
  line-height: 1.7rem;
  font-size: 20px;
  padding: 30px;
}

.deroulement_bar_div {
  width: 100%;
  height: 120px;
  background-color: rgb(97,57,111);
  display: flex; /* Ajoutez cette ligne pour activer le conteneur flex */
  flex-direction: column; /* Les éléments sont disposés verticalement */
  justify-content: center; /* Alignez les éléments verticalement au centre */

}

.div_sep {
  width: 100%;
  height: 40px;
  background-color: rgb(97,57,111);
}

.text_deroulement_bar {
  margin-left: 20%;
  color: white;
  font-weight: 300;
  font-size: 33px;
}

.barre_violette {
  width: 100%;
  height: auto;
  flex-direction: column; /* Les éléments sont disposés verticalement */
  display: flex;
  align-items: center; /* Alignez les éléments horizontalement au centre */
  justify-content: center; /* Alignez les éléments verticalement au centre */
  text-align: center;
}

.barre_color {
  width: 60%;
  height: 5px;
  background-color: rgb(194, 139, 196);
}

.sec_layer {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  flex-direction: row; /* Les éléments sont disposés verticalement */
  display: flex;
  align-items: center; /* Alignez les éléments horizontalement au centre */
  justify-content: center; /* Alignez les éléments verticalement au centre */
  text-align: center;
}

.sec_layer_little {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  flex-direction: column; /* Les éléments sont disposés verticalement */
  display: flex;
  align-items: center; /* Alignez les éléments horizontalement au centre */
  justify-content: center; /* Alignez les éléments verticalement au centre */
  text-align: center;
}

.text_left_sec_layer {
  width: 50%;
  height: auto;
}

.text_left_sec_layer_little {
  width: 90%;
  height: auto;
}

.text_left {
  color: rgb(107,107,107);
  line-height: 1.7rem;
  font-size: 20px;
  padding: 30px;
}

.text_left_little {
  color: rgb(107,107,107);
  line-height: 1.5rem;
  font-size: 20px;
}

.img_right_sec_layer {
  margin-left: 5%;
  width: 35%;
  height: auto;
  padding: 10px;
  background-color: #9b59b6;
  border-radius: 10px;
}

.img_right_sec_layer_little {
  margin-left: 5%;
  width: 70%;
  height: auto;
  padding: 10px;
  background-color: #9b59b6;
  border-radius: 10px;
}

.img_cabinet_sec_layer {
  height: 100%;
  width: 100%;
}

.third_layer {
  width: 100%;
  height: auto;
  padding: 5px;
}

.enumeration {
  margin-right: 5%;
  color: rgb(97,97,97);
  line-height: 1.7rem;
  font-size: 20px;
}


.pour_qui_pour_quoi_div {
  margin-top: 2%;
  width: 100%;
  height: auto;
  flex-direction: row; /* Les éléments sont disposés verticalement */
  display: flex;
  justify-content: center; /* Alignez les éléments verticalement au centre */
  text-align: center;
}

.pour_qui_pour_quoi_div_little {
  margin-top: 2%;
  width: 100%;
  height: auto;
  flex-direction: column; /* Les éléments sont disposés verticalement */
  display: flex;
  align-items: center; /* Alignez les éléments horizontalement au centre */
  justify-content: center; /* Alignez les éléments verticalement au centre */
  text-align: center;
}

.pour_qui_div {
  width: 50%;
  height: auto;
  margin-bottom: 2%;
}

.pour_qui_div_little {
  width: 100%;
  height: auto;
  margin-bottom: 10%;
}

.titre_pour_qui_quoi {
  color: black;
  line-height: 1.7rem;
  font-size: 40px;
  padding: 30px;
  font-weight: bold;
}

.pour_quoi_div {
  width: 50%;
  height: auto;
  flex-direction: column; /* Les éléments sont disposés verticalement */
  display: flex;
  align-items: center; /* Alignez les éléments horizontalement au centre */
  justify-content: center; /* Alignez les éléments verticalement au centre */
  text-align: center;
}
