
.div_art_therapie {
  padding: 20px;
  width: 100%;
  height: auto;
  flex-direction: column; /* Les éléments sont disposés verticalement */
  display: flex;
  align-items: center; /* Alignez les éléments horizontalement au centre */
  justify-content: center; /* Alignez les éléments verticalement au centre */
  text-align: center;
}

.titre_art_therapie {
  color: purple;
  margin-top: 5%;
  font-weight: 500;
  font-size: 45px;
}

.basic_text {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 300;
  line-height: 25px;
  font-size: 25px;
}

.special_purple_text {
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 500;
  line-height: 25px;
  font-size: 25px;
  color: #9b59b6;
}

.box_tools_video {
  width: 80%;
  height: auto;
  background-color: rgb(235,194,251);
  flex-direction: column; /* Les éléments sont disposés verticalement */
  display: flex;
  align-items: center; /* Alignez les éléments horizontalement au centre */
  justify-content: center; /* Alignez les éléments verticalement au centre */
  text-align: center;
}

.box_tools_first_lign {
  width: 100%;
  height: 50%;
  flex-direction: row; /* Les éléments sont disposés verticalement */
  display: flex;
  align-items: center; /* Alignez les éléments horizontalement au centre */
  justify-content: center; /* Alignez les éléments verticalement au centre */
  text-align: center;
}

.box_tools_seconde_lign {
  width: 100%;
  height: 50%;
  flex-direction: row; /* Les éléments sont disposés verticalement */
  display: flex;
  align-items: center; /* Alignez les éléments horizontalement au centre */
  justify-content: center; /* Alignez les éléments verticalement au centre */
  text-align: center;
}

.box_tools_img {
  padding: 20px;
  width: 100%;
  height: auto;
}

.img_in_the_box_tools {
  width: 50%;
  height: auto;
}

.text_tools_content {
  color: purple;
  margin-top: 5%;
  font-weight: 700;
  font-size: 25px;
}

.basic_text_bottom_box_tools {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 200;
  line-height: 25px;
  font-size: 20px;
}

.basic_text_bottom_box_tools_2 {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 500;
  line-height: 25px;
  font-size: 20px;
}

.all_gestalt {
  width: 100%;
  height: auto;
  background: rgb(235,194,251);
}

.header_text_gestalt {
  margin-top: 5%;
  color: purple;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 500;
  line-height: 25px;
  font-size: 45px;
}

.main_box_gestal {
  width: 100%;
  height: auto;
  flex-direction: row; /* Les éléments sont disposés verticalement */
  display: flex;
  align-items: center; /* Alignez les éléments horizontalement au centre */
  justify-content: center; /* Alignez les éléments verticalement au centre */
  text-align: center;
}

.left_panel_gestal {
  padding: 20px;
  width: 55%;
  height: auto;
  text-align: left;
}

.right_panel_gestal {
  padding: 20px;
  width: 45%;
  height: auto;
}

.img_gestalt {
  width: 100%;
  height: auto;
  transition: all .2s ease;
}

.img_gestalt:hover {
  width: 100%;
  height: auto;
  transition: all .2s ease;
  transform: translate(-4px, 2px);
}

.basic_text_gestalt {
  font-weight: 200;
  line-height: 20px;
  font-size: 18px;
}

.basic_text_soins_purple {
  font-weight: 500;
  line-height: 20px;
  font-size: 18px;
  color: purple;
}

.basic_text_gestalt_bold {
  font-weight: 500;
  line-height: 20px;
  font-size: 18px;
}

.all_hypnose_humaniste {
  width: 100%;
  height: auto;
  background: white;
}





////////////bouton_contact

.div_bouton_contact {
  width: 100%;
  height: auto;
  flex-direction: column; /* Les éléments sont disposés verticalement */
  display: flex;
  align-items: center; /* Alignez les éléments horizontalement au centre */
  justify-content: center; /* Alignez les éléments verticalement au centre */
  text-align: center;
  margin-bottom: 3%;
}

.box_button {
  width: 60%;
  height: auto;
}

.left_panel_soins_ener {
  padding: 20px;
  width: 50%;
  height: auto;
  text-align: left;
}

.mes_outils_bar_div {
  width: 100%;
  height: 120px;
  background-color: rgb(97,57,111);
  display: flex; /* Ajoutez cette ligne pour activer le conteneur flex */
  flex-direction: column; /* Les éléments sont disposés verticalement */
  justify-content: center; /* Alignez les éléments verticalement au centre */

}

.text_mes_outils_bar {
  margin-left: 20%;
  color: white;
  font-weight: 300;
  font-size: 33px;
}

.div_for_buton {
  width: 100%;
  height: auto;
  flex-direction: row; /* Les éléments sont disposés verticalement */
  display: flex;
  align-items: center; /* Alignez les éléments horizontalement au centre */
  justify-content: center; /* Alignez les éléments verticalement au centre */
  text-align: center;
}

.div_first_buton {
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  width: 25%;
  flex-direction: row; /* Les éléments sont disposés verticalement */
  display: flex;
  align-items: center; /* Alignez les éléments horizontalement au centre */
  justify-content: center; /* Alignez les éléments verticalement au centre */
  text-align: center;
}
