<div class="mes_outils_bar_div">
  <p class="text_mes_outils_bar">Mes outils</p>
</div>
<div class="div_for_buton">
  <div class="div_first_buton">
    <div class="box_pratique_1">
      <img src="assets/img/moon.jpg" alt="photo1" class="photo_box_choice">
      <p class="text_buton_choice">L'hypnose Humaniste</p>
      <button class="button-74" role="button" (click)="hypnose_humaniste_f()">Cliquez-ici pour en savoir plus !</button>
    </div>
  </div>
  <div class="div_sec_buton">
    <div class="box_pratique_2">
      <img src="assets/img/moon.jpg" alt="photo1" class="photo_box_choice">
        <p class="text_buton_choice">L'art thérapie</p>
      <button class="button-74" role="button" (click)="art_therapie_f()">Cliquez-ici pour en savoir plus !</button>
    </div>
  </div>
  <div class="div_third_buton">
    <div class="box_pratique_3">
      <img src="assets/img/moon.jpg" alt="photo1" class="photo_box_choice">
      <p class="text_buton_choice">La Gestalt</p>
      <button class="button-74" role="button" (click)="gestalt_f()">Cliquez-ici pour en savoir plus !</button>
    </div>
  </div>
  <div class="div_forth_buton">
    <div class="box_pratique_4">
      <img src="assets/img/moon.jpg" alt="photo1" class="photo_box_choice">
      <p class="text_buton_choice">Les soins énergétiques</p>
      <button class="button-74" role="button" (click)="soins_energetique_f()">Cliquez-ici pour en savoir plus !</button>
    </div>
  </div>
</div>
<div class="big_div_all_category">
  <div class="big_box_white">
    <div class="div_art_therapie" id="id_art_therapie">
      <h1 class="titre_art_therapie">L'art thérapie</h1>
      <p class="basic_text">En art thérapie, l'action précède les mots, fait surgir les émotions, les sensations du corps et permet des prises de conscience de nos mécanismes de pensées, des fonctionnements intérieurs qui nous sont propres.</p>
      <p class="basic_text">Je vous invite à me faire part de comment vous vous sentez au moment où vous vous asseyez dans le fauteuil car tout se passe toujours dans l'ici et maintenant.</p>
      <p class="basic_text"><strong>En fonction de ce que vous amenez</strong></p><p class="special_purple_text">Je vous propose d'entrer en action avec l'aide d'un outil :</p>
      <div class="box_tools_video">
        <div class="box_tools_first_lign">
          <div class="box_tools_img">
            <img src="assets/img/moon.jpg" alt="img1" class="img_in_the_box_tools">
            <p class="text_tools_content">des craies grasses</p>
          </div>
          <div class="box_tools_img">
            <img src="assets/img/moon.jpg" alt="img1" class="img_in_the_box_tools">
            <p class="text_tools_content">de la peinture</p>
          </div>
        </div>
        <div class="box_tools_seconde_lign">
          <div class="box_tools_img">
            <img src="assets/img/moon.jpg" alt="img1" class="img_in_the_box_tools">
            <p class="text_tools_content">de la terre</p>
          </div>
          <div class="box_tools_img">
            <img src="assets/img/moon.jpg" alt="img1" class="img_in_the_box_tools">
            <p class="text_tools_content">des collages</p>
          </div>
        </div>
      </div>
      <p class="basic_text_bottom_box_tools">Ne vous inquiétez pas, il ne s'agit pas de produire une œuvre d'art. Nous sommes entre nous et vous n'avez pas besoin d'être un(e) artiste pour exprimer dans la matière ce qu'il y a au fond de vous.</p>
      <p class="basic_text_bottom_box_tools_2">Bien souvent, par contre, la matière et le corps en disent plus que des mots et vous permet de les trouvez... les mots qui expriment les maux.</p>
    </div>
    <div class="all_gestalt" id="id_gestalt">
      <div class="header_all_gestalt">
        <p class="header_text_gestalt">La Gestalt</p>
        <div class="main_box_gestal">
          <div class="left_panel_gestal">
            <p class="basic_text_gestalt">La thérapie de la forme, créée par Fritz Perls, <span class="basic_text_gestalt_bold">permet de mettre en scène son propre théâtre intérieur :</span> jouer et extérioriser ce qui se joue à l’intérieur de nous, permet de dénouer les pensées complexes qui manipulent notre mental. Vous me décrivez une scène de votre vie qui vous a marqué, il y a différents protagonistes : papa, maman,
              vos frères et sœurs, votre conjoint, vos enfants ou encore votre patron... Eh bien, nous allons jouer cette scène comme au théâtre. Ensemble, nous allons disposer des coussins qui représenteront chacune des personnes présentes, y compris vous bien-sûr. Nous allons rechercher la bonne attitude, les gestes, les intonations de voix
              et les paroles de chacune. Je participerai du mieux possible pour jouer les personnes que vous m'aurez décrites (j'adore ça !) et puis vous pourrez changer de place, de coussin et donc de personne.</p>
            <p class="basic_text_gestalt"><span class="basic_text_gestalt_bold">Vous verrez comme c'est puissant</span> de ressentir l'énergie de l'autre entre en vous, de ressentir son point de vue, ses émotions, ses
              mots. Vous aurez une vue à 360° de la situation et vous comprendrez ce qu'il se joue pour chacun. Ainsi, vous aurez des révélations étonnantes et cela éclaircira votre horizon...</p>
          </div>
          <div class="right_panel_gestal">
            <img src="assets/img/moon.jpg" alt="Gestalt" class="img_gestalt">
          </div>
        </div>
      </div>
    </div>
    <div class="all_hypnose_humaniste" id="id_hypnose_humaniste">
      <div class="header_all_gestalt">
        <p class="header_text_gestalt">L'hypnose humaniste</p>
        <div class="main_box_gestal">
          <div class="left_panel_gestal">
            <img src="assets/img/moon.jpg" alt="Gestalt" class="img_gestalt">
          </div>
          <div class="right_panel_gestal">
            <p class="basic_text_gestalt">L’hypnose humaniste est une forme très particulière d’hypnose, à l’opposé de ce que l’on imagine communément.

              Créée par Olivier Lockert, elle consiste à s’ouvrir à plus de conscience grâce à l’accompagnement du thérapeute. Là où l’hypnose classique met la personne en état de dépendance face au thérapeute, l’hypnose humaniste rend la personne actrice de son propre changement. L’inconscient devient de plus en plus conscient et les changements sont plus durables.</p>
            <p class="basic_text_gestalt">Pour qu'une séance soit réussie, il faut d'abord déterminer un objectif très précis.
              Ensuite, assis confortablement, les yeux fermés, je vous emmène par la parole vers un état modifié qui élargit votre champ de conscience. Vous restez parfaitement maitre de vous-même (même si c'est pas mal de lâcher un peu). Je vous accompagne et vous oriente car il y a des techniques très précises. Je vous rappelle sans cesse que vous êtes ici et maintenant dans cette pièce assis sur ce fauteuil pour que vous ne vous dissociiez pas. La dissociation du conscient et de
              l'inconscient c'est pour l'hypnose ericksonnienne. Ici, il s'agit d'élargir votre conscience. Vous traverserez des pays imaginaires et symboliques dans lesquels vous pourrez modifier ce qu'il y à modifier afin que les choses s'améliorent pour vous. Lorsque vous ouvrirez les yeux sans avoir dormi, vous aurez l'impression de sortir d'un rêve. Mais finalement, quelle est la différence entre le rêve et la réalité ?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="all_gestalt" id="id_soins_energ">
      <div class="header_all_gestalt">
        <p class="header_text_gestalt">Les soins énergétiques</p>
        <div class="main_box_gestal">
          <div class="left_panel_soins_ener">
            <p class="basic_text_gestalt">Vous êtes fatigués et vous avez besoin d'aide pour entrer dans votre intériorité. Ce n'est pas toujours facile de prendre ce temps chez soi, d'avoir la patience de méditer, par exemple.</p>
            <p class="basic_text_gestalt">Je vous propose de venir vous allonger, habillé sur ma table de massage et, grâce à une musique appropriée, vous entrerez dans un sommeil semi-conscient. Tout en douceur, je ferai le ménage des énergies qui vous habitent et qui vous entourent.</p>
            <p class="basic_text_gestalt"><span class="basic_text_gestalt_bold">Vous pourrez lâcher votre mental comme lors d'une méditation.</span>
              Je poserai mes mains, vous sentirez l'énergie circuler grâce à un protocole d'imposition des mains et de passes magnétiques.</p>
            <p class="basic_text_gestalt"><span class="basic_text_soins_purple">Vous vous sentirez plus léger et vos divers ennuis vous sembleront moins présents.</span></p>
            <p class="basic_text_gestalt">Pour finir, nous ferons un point sur vos ressentis et votre moral. Ces séances vous réalignent, vous ancrent dans le présent et vous permettront sans doute de faire de belles prises de conscience.
            </p>
          </div>
          <div class="right_panel_gestal">
            <img src="assets/img/moon.jpg" alt="Gestalt" class="img_gestalt">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div_bouton_contact">
    <div class="box_button">
      <button class="button-74" role="button" (click)="naviguate_to_contact()">Vous avez des questions ? Cliquez-ici pour me contactez !</button>
    </div>
  </div>
</div>
<app-bottom-bar></app-bottom-bar>
