<div id="container">
  <div class="first_div">
    <h1 class="titre_first">Anne Goettelmann</h1>
    <h2 class="détails_first" #details></h2>
  </div>
  <div class="seconde_div">
    <div>
      <h1 class="titre_seconde">Étonnant mélange</h1>
    </div>
    <div>
      <h2 class="details_seconde">En cette période difficile, je vous accompagne pour traverser vos peurs et trouver les ressources intérieures de votre changement.</h2>
    </div>
  </div>
  <div class="third_div">
    <div class="left_panel_third">
      <h1 class="h1_third_div">Etes-vous un étonnant mélange ?</h1>
      <h2 class="h2_third_div">Nous sommes des êtres changeants : notre humeur, notre vitalité, nos envies, varient au gré des circonstances, des rencontres, du temps qu’il fait mais aussi de la chimie du corps.</h2>
      <h3 class="h3_third_div">Avez-vous cette impression d'être différent en fonction de la couleur du jour ou du moment ?</h3>
    </div>
    <div class="right_panel_third">
      <img src="assets/img/Cabinet.jpg" alt="Cabinet" class="img_class">
    </div>
  </div>
  <div class="forth_div">
    <h1>salut</h1>
  </div>
</div>
<app-bottom-bar></app-bottom-bar>
